/*
 * The Typekit service used to deliver this font or fonts for use on websites
 * is provided by Adobe and is subject to these Terms of Use
 * http://www.adobe.com/products/eulas/tou_typekit. For font license
 * information, see the list below.
 *
 * fort:
 *   - http://typekit.com/eulas/00000000000000007735f23c
 *   - http://typekit.com/eulas/00000000000000007735f240
 *   - http://typekit.com/eulas/00000000000000007735f23d
 *   - http://typekit.com/eulas/00000000000000007735f23f
 *   - http://typekit.com/eulas/00000000000000007735f241
 *   - http://typekit.com/eulas/00000000000000007735f248
 *
 * © 2009-2022 Adobe Systems Incorporated. All Rights Reserved.
 */
/*{"last_published":"2022-01-27 14:38:21 UTC"}*/

@import url("https://p.typekit.net/p.css?s=1&k=gkr7dli&ht=tk&f=48327.48328.48330.48333.48334.48339&a=16555831&app=typekit&e=css");

@font-face {
font-family:"fort";
src:url("https://use.typekit.net/af/a91b9a/00000000000000007735f23c/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff2"),url("https://use.typekit.net/af/a91b9a/00000000000000007735f23c/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("woff"),url("https://use.typekit.net/af/a91b9a/00000000000000007735f23c/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n7&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:700;
}

@font-face {
font-family:"fort";
src:url("https://use.typekit.net/af/a87ccc/00000000000000007735f240/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff2"),url("https://use.typekit.net/af/a87ccc/00000000000000007735f240/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("woff"),url("https://use.typekit.net/af/a87ccc/00000000000000007735f240/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i7&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:700;
}

@font-face {
font-family:"fort";
src:url("https://use.typekit.net/af/26e3c9/00000000000000007735f23d/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff2"),url("https://use.typekit.net/af/26e3c9/00000000000000007735f23d/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("woff"),url("https://use.typekit.net/af/26e3c9/00000000000000007735f23d/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n3&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:300;
}

@font-face {
font-family:"fort";
src:url("https://use.typekit.net/af/9dd017/00000000000000007735f23f/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff2"),url("https://use.typekit.net/af/9dd017/00000000000000007735f23f/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("woff"),url("https://use.typekit.net/af/9dd017/00000000000000007735f23f/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=n5&v=3") format("opentype");
font-display:auto;font-style:normal;font-weight:500;
}

@font-face {
font-family:"fort";
src:url("https://use.typekit.net/af/1cb1e6/00000000000000007735f241/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff2"),url("https://use.typekit.net/af/1cb1e6/00000000000000007735f241/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("woff"),url("https://use.typekit.net/af/1cb1e6/00000000000000007735f241/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i3&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:300;
}

@font-face {
font-family:"fort";
src:url("https://use.typekit.net/af/bfcf28/00000000000000007735f248/30/l?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff2"),url("https://use.typekit.net/af/bfcf28/00000000000000007735f248/30/d?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("woff"),url("https://use.typekit.net/af/bfcf28/00000000000000007735f248/30/a?primer=7cdcb44be4a7db8877ffa5c0007b8dd865b3bbc383831fe2ea177f62257a9191&fvd=i5&v=3") format("opentype");
font-display:auto;font-style:italic;font-weight:500;
}

.tk-fort { font-family: "fort",sans-serif; }
* {
  font-family: "fort";
  margin: 0;
}


.App{
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0; 
}
.leaflet-editing-icon {
  border-radius: 50%!important;
  background-color: #EBEBEB!important;
  border: 1px solid #1A1F23!important;
}
.leaflet-draw-tooltip {
  background-color: rgb(26 31 35 / 50%)!important;
  color: #EBEBEB!important;
}
.leaflet-draw-tooltip:before {
  border-right: 6px solid rgb(26 31 35 / 50%)!important;
}
.leaflet-draw-tooltip-subtext {
  color: #53917E!important;
}

.leaflet-popup-content-wrapper, .leaflet-popup-tip {
  background: #EBEBEB!important;
  color: #1A1F23!important;
}

.leaflet-left {
  left: 410px!important;
}

.leaflet-top {
  top: 2%!important;
}
.leaflet-control-zoom-in{
  background-color: #EBEBEB!important;
  color: #53917E!important;
  transition:all .2s linear;
}
.leaflet-control-zoom-in:hover{
  background-color: #53917E!important;
  color: #EBEBEB!important;
}
.leaflet-control-zoom-out{
  background-color: #EBEBEB!important;
  color: #53917E!important;
  transition:all .2s linear;
}
.leaflet-control-zoom-out:hover{
  background-color: #53917E!important;
  color: #EBEBEB!important;
}
.leaflet-touch .leaflet-control-layers, .leaflet-touch .leaflet-bar {
  border: 2px solid rgb(26 31 35 / 20%)!important;
  background-clip: padding-box!important;
  transition:all .5 linear;
}